{% extends 'attendance/base.html' %}
{% block content %}
<div class="container mt-4">
  <h4 class="mb-4 text-center">HR Dashboard</h4>
  <div class="row">
    <div class="col-md-6 mb-3">
      <a href="{% url 'attendance:hr_approval_list' %}" class="btn btn-warning w-100">View Regularization Requests</a>
    </div>
    <div class="col-md-6 mb-3">
      <a href="{% url 'attendance:export_attendance_csv' %}" class="btn btn-outline-dark w-100">Export All Attendance</a>
    </div>
  </div>
</div>
{% endblock %}